.header {
    background-color: #fff;
    padding: .4rem 20rem;
    min-height: 5rem;
    border: 1px solid rgba(219,219,219,1);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        margin-top: 1rem;
        height: 3rem;
    }

    &__user-name {
        font-weight: 700;
    }

    &__user-pic {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 1rem;
    }

    &__profile {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin-left: 1rem;
            height: 2.5rem;
            cursor: pointer;
        }
    }
}